streamlit==1.32.2
python-dotenv
langchain
langchain-community
langchain-core
langchain-chroma
langchain-groq
langchain-classic
chromadb
sentence-transformers
beautifulsoup4
lxml
requests
huggingface-hub
playwright
pypdf
youtube-transcript-api
pytube